---
 
---
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ismael Valle pero mis amigos me llaman Isma. Empecé en la
      programación casi por casualidad, ya que estudiaba informática pero en el ámbito de las redes.
    La única asignatura que tenía de programación hizo que me interesara tanto que al final acabé 
    en la universidad cursando el grado en tecnologías de la comunicación.
    <strong>Actualmente estoy liderando equipos de desarrollo en una gran compañia</strong>.
    </p>

   
    <p>
      Como analista y desarrollador, <strong
        >cuento con experiencia suficiente como para poder llevar a cabo análisis y desarrollos de gran envergadura en <em class="italic">aplicaciones de</em> entornos empreariales</strong
      >. Mi objetivo es mejorar día a día y especializarme en la gestión de equipos y líder técnico
    </p>
  </div>
</article>


