---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Septiembre 2023 - Actualmente...",
    title: "Analista Funcional",
    company: "Hiberus IT",
    description:
      "Líder de equipo y analista funcional en OEPM (Oficina Española de Patentes y Marcas), encargado de entender los requerimientos y necesidades de los usuarios y que posteriormente se lleven a cabo los evolutivos correspondientes.",
  },
  {
    date: "febrero 2021",
    title: "Analista Programador",
    company: "NTT DATA",
    description:
      "Analista programador en OEPM (Oficina Española de Patentes y Marcas), llevando a cabo el mantenimiento, correctivos y evolutivos de las aplicaciones correspondientes al equipo de Consultas e Internacionales.",
  },
  {
    date: "enero 2020",
    title: "Desarrollador Web",
    company: "Azulae",
    description:
      "Desarrollador Fullstack (Back y Front) de aplicaciones con Angular/Ionic, nodejs, springboot, realizando el desarrollo tanto de aplicaciones web como de aplicaciones móviles.",
  },
  {
    date: "diciembre 2017",
    title: "Desarrollador Web",
    company: "ANT-Aplicaciones",
    description:
      "Desarrollador web Backend de aplicaciones con springboot",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
